<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Hello World</display-name>
	<servlet>
		<servlet-name>listUser</servlet-name>
		<servlet-class>controller.ListUserController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>listUser</servlet-name>
		<url-pattern>/View/listUser</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>